/* .bwu-datagrid-headerrow-column.ui-state-default*/
:host(.ui-state-default){
  padding: 4px;
}

:host(.ui-state-default)
/*.bwu-datagrid-header.ui-state-default, .bwu-datagrid-headerrow.ui-state-default */ {
  width: 100%;
  overflow: hidden;
  border-left: 0px;
}
