/*$even-row-background-color:#f4f4f4;*/
/*$group-level-2-color:;*/
/* font
----------------------------------*/
* /deep/ * {
  font-family: arial, sans-serif;
  font-size: 8pt;
  color: #333; }

/* wrap grid and pager
----------------------------------*/
div.grid-wrapper {
  margin: 8px 8px 0 8px;
  height: calc(100vh - 125px);
  border: 1px solid #d8d8d8;
  border-radius: 3px; }

/* grid
----------------------------------*/
#pager {
  border: none; }

#grid {
  height: 100%; }
  #grid /deep/ {
    /* group headers */
    /* result icons */
    /* grid header
    ----------------------------------*/
    /* rows and cells
    ----------------------------------*/ }
    #grid /deep/ .bwu-datagrid-group-title[level='0'] {
      font-style: italic;
      color: #002451; }
    #grid /deep/ .bwu-datagrid-group-title[level='1'] {
      color: #643820; }
    #grid /deep/ .bwu-datagrid-group-title[level='2'] {
      font-style: italic; }
    #grid /deep/ core-icon.test-result {
      width: 18px;
      height: 18px; }
    #grid /deep/ core-icon.result-error, #grid /deep/ core-icon.result-fail, #grid /deep/ core-icon.result-timeout {
      fill: red; }
    #grid /deep/ core-icon.result-pass {
      fill: #1db34f; }
    #grid /deep/ core-icon.prev-result-error, #grid /deep/ core-icon.prev-result-fail, #grid /deep/ core-icon.prev-result-timeout {
      fill: #fcc; }
    #grid /deep/ core-icon.prev-result-pass {
      fill: #aca; }
    #grid /deep/ #headerScroller.bwu-datagrid-header {
      border: none;
      background: none;
      background-color: #f5f5f5; }
    #grid /deep/ #bwuDatagridHeaders.bwu-datagrid-header-columns {
      border: none;
      border-bottom: 1px solid #d8d8d8;
      background: none; }
    #grid /deep/ bwu-datagrid-header-column.bwu-datagrid-header-column {
      background: #f5f5f5 none;
      border: 1px solid #fcfcfc;
      border-top-color: #f5f5f5;
      border-right-color: #f5f5f5;
      border-bottom: none;
      font-weight: bold; }
      #grid /deep/ bwu-datagrid-header-column.bwu-datagrid-header-column:first-of-type {
        border-left-color: #f5f5f5; }
      #grid /deep/ bwu-datagrid-header-column.bwu-datagrid-header-column /deep/ .bwu-datagrid-resizable-handle:hover {
        color: #d8d8d8;
        background-color: #d8d8d8; }
    #grid /deep/ .bwu-datagrid-row {
      border: solid #eee;
      border-width: 1px 1px 1px 0;
      background: none; }
      #grid /deep/ .bwu-datagrid-row.even {
        background-color: white; }
        #grid /deep/ .bwu-datagrid-row.even .bwu-datagrid-cell {
          border-left-color: white; }
      #grid /deep/ .bwu-datagrid-row.odd {
        background-color: #fcfcfc; }
        #grid /deep/ .bwu-datagrid-row.odd .bwu-datagrid-cell {
          border-left-color: #fcfcfc; }
      #grid /deep/ .bwu-datagrid-row .bwu-datagrid-cell {
        border: 1px solid transparent;
        background-color: transparent; }
        #grid /deep/ .bwu-datagrid-row .bwu-datagrid-cell:first-of-type {
          border-left: none; }
        #grid /deep/ .bwu-datagrid-row .bwu-datagrid-cell.selected {
          background-color: #d8d8d8;
          border-left-color: #d8d8d8; }
      #grid /deep/ .bwu-datagrid-row.active .bwu-datagrid-cell {
        background-color: #f8f48f;
        border-left-color: #f8f48f;
        border-top-color: #ffd42a;
        border-bottom-color: #ffd42a; }
        #grid /deep/ .bwu-datagrid-row.active .bwu-datagrid-cell.selected {
          border-top-color: #907300;
          border-bottom-color: #907300;
          background-color: #e0d80e;
          border-left-color: #e0d80e; }
    #grid /deep/ .bwu-datagrid-cell-checkboxsel core-icon {
      fill: #d8d8d8;
      width: 18px;
      height: 18px; }
      #grid /deep/ .bwu-datagrid-cell-checkboxsel core-icon.selected {
        fill: gray; }
    #grid /deep/ .allow-tooltip {
      overflow: visible; }
      #grid /deep/ .allow-tooltip [tip] {
        color: white;
        font-family: monospace;
        line-height: 15px; }

/* header
----------------------------------*/
#header {
  padding: 5px 8px 0 8px;
  margin: 0;
  height: 100px;
  /* make the radio-buttons smaller
  ----------------------------------*/ }
  #header .caption {
    margin: 0 0 4px 4px;
    font-style: italic;
    font-weight: bold;
    color: darkgrey;
    border-width: 0 0 2px 0;
    border-bottom: solid lightgray;
    -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(white), to(lightgray), color-stop(20%, lightgray)) 100% 1; }
  #header paper-radio-button {
    padding: 6px; }
    #header paper-radio-button::shadow paper-ripple#ink {
      top: -8px;
      left: -8px;
      width: 32px;
      height: 32px; }
    #header paper-radio-button::shadow #onRadio {
      background-color: darkgray; }
  #header .v-splitter {
    width: 16px; }

/* run buttons
----------------------------------*/
paper-icon-button.run-tests {
  margin: 5px;
  background-color: white;
  width: 75px; }
  paper-icon-button.run-tests /deep/ #clip #content span {
    width: 60px; }
  paper-icon-button.run-tests::shadow core-icon svg {
    fill: darkgray; }
  paper-icon-button.run-tests:hover::shadow core-icon svg {
    fill: #1db34f; }
  paper-icon-button.run-tests.running::shadow core-icon svg {
    fill: red; }
  paper-icon-button.run-tests.running:hover {
    background-color: lightgray; }
    paper-icon-button.run-tests.running:hover::shadow core-icon svg {
      fill: darkgray; }

/* progress bar
----------------------------------*/
#progress {
  margin: 6px 4px 0 8px; }
  #progress::shadow #progressContainer {
    background-color: white; }
  #progress.active::shadow #progressContainer {
    background-color: button-icon-color; }

/*# sourceMappingURL=app_element.css.map */
